<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>FirmwarePayload</key>
    <dict>
		<key>FirmwareName</key>
		<string>Firmware.MSE</string>
		<key>BootloaderName</key>
		<string>N31.bootloader.rb3</string>
		<key>BuildVersion</key>
		<string>37A40005</string>
		<key>ProductVersion</key>
		<string>1.0.4</string>
		<key>UpdaterFamilyID</key>
		<integer>37</integer>
		<key>FamilyID</key>
		<integer>18</integer>
	</dict>
</dict>
</plist>

