<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>FirmwarePayload</key>
    <dict>
		<key>FirmwareName</key>
		<string>Firmware.MSE</string>
		<key>BootloaderName</key>
		<string>N20.bootloader.release.rb3</string>
		<key>BuildVersion</key>
		<string>36B10147</string>
		<key>ProductVersion</key>
		<string>1.2</string>
		<key>UpdaterFamilyID</key>
		<integer>36</integer>
		<key>FamilyID</key>
		<integer>17</integer>
	</dict>
</dict>
</plist>

